
 
$grey-50:    #f8fafc;
$grey-100:   #e2e8f0;
$grey-200:   #cbd5e1;
$grey-400:   #94a3b8;
$grey-500:   #64748b;
$grey-600:   #475569;
$grey-700:   #334155;
$grey-800:   #1e293b;
$grey-900:   #0f172a;
$red-500:    #ef4444;
$red-600:    #dc2626;
$blue-500:   #3b82f6;
$rose-500:   #f43f5e;
$indigo-500: #6366f1;
$orange-500: #fb923c;
$pink-500:   #ec4899;
$defaul-header: rgb(48, 43, 48);
$boxShadow: 0 0 2px 0 $grey-200;
$name: 2rem 0;
 

// stone
$stone-50:#fafaf9;
$stone-100: #f5f5f4;
$stone-200: #e7e5e4;
$stone-300: #d6d3d1;
$stone-400: #a8a29e;
$stone-500: #78716c;
$stone-600: #57534e;
$stone-700: #44403c;
$stone-800: #292524;
$stone-900: #1c1917;